$icon-about-viewBox = "0 0 512 512"
$icon-about-width = 512
$icon-about-height = 512

$icon-actors-viewBox = "0 0 512 512"
$icon-actors-width = 512
$icon-actors-height = 512

$icon-add-to-library-viewBox = "0 0 512 512"
$icon-add-to-library-width = 512
$icon-add-to-library-height = 512

$icon-add-viewBox = "0 0 512 512"
$icon-add-width = 512
$icon-add-height = 512

$icon-addons-outline-viewBox = "0 0 512 512"
$icon-addons-outline-width = 512
$icon-addons-outline-height = 512

$icon-addons-viewBox = "0 0 512 512"
$icon-addons-width = 512
$icon-addons-height = 512

$icon-android-viewBox = "0 0 512 512"
$icon-android-width = 512
$icon-android-height = 512

$icon-anime-outline-viewBox = "0 0 512 512"
$icon-anime-outline-width = 512
$icon-anime-outline-height = 512

$icon-anime-viewBox = "0 0 512 512"
$icon-anime-width = 512
$icon-anime-height = 512

$icon-audio-tracks-viewBox = "0 0 512 512"
$icon-audio-tracks-width = 512
$icon-audio-tracks-height = 512

$icon-audio-viewBox = "0 0 512 512"
$icon-audio-width = 512
$icon-audio-height = 512

$icon-bin-viewBox = "0 0 512 512"
$icon-bin-width = 512
$icon-bin-height = 512

$icon-calendar-outline-viewBox = "0 0 512 512"
$icon-calendar-outline-width = 512
$icon-calendar-outline-height = 512

$icon-calendar-thin-viewBox = "0 0 512 512"
$icon-calendar-thin-width = 512
$icon-calendar-thin-height = 512

$icon-calendar-viewBox = "0 0 512 512"
$icon-calendar-width = 512
$icon-calendar-height = 512

$icon-caret-down-viewBox = "0 0 512 512"
$icon-caret-down-width = 512
$icon-caret-down-height = 512

$icon-caret-up-viewBox = "0 0 512 512"
$icon-caret-up-width = 512
$icon-caret-up-height = 512

$icon-cast-connected-viewBox = "0 0 512 512"
$icon-cast-connected-width = 512
$icon-cast-connected-height = 512

$icon-cast-viewBox = "0 0 512 512"
$icon-cast-width = 512
$icon-cast-height = 512

$icon-channels-outline-viewBox = "0 0 512 512"
$icon-channels-outline-width = 512
$icon-channels-outline-height = 512

$icon-channels-viewBox = "0 0 512 512"
$icon-channels-width = 512
$icon-channels-height = 512

$icon-chapters-viewBox = "0 0 512 512"
$icon-chapters-width = 512
$icon-chapters-height = 512

$icon-checkmark-viewBox = "0 0 512 512"
$icon-checkmark-width = 512
$icon-checkmark-height = 512

$icon-chevron-back-viewBox = "0 0 512 512"
$icon-chevron-back-width = 512
$icon-chevron-back-height = 512

$icon-chevron-down-viewBox = "0 0 512 512"
$icon-chevron-down-width = 512
$icon-chevron-down-height = 512

$icon-chevron-forward-viewBox = "0 0 512 512"
$icon-chevron-forward-width = 512
$icon-chevron-forward-height = 512

$icon-chevron-up-viewBox = "0 0 512 512"
$icon-chevron-up-width = 512
$icon-chevron-up-height = 512

$icon-close-viewBox = "0 0 512 512"
$icon-close-width = 512
$icon-close-height = 512

$icon-cloud-library-viewBox = "0 0 512 512"
$icon-cloud-library-width = 512
$icon-cloud-library-height = 512

$icon-cloud-sync-viewBox = "0 0 512 512"
$icon-cloud-sync-width = 512
$icon-cloud-sync-height = 512

$icon-details-viewBox = "0 0 512 512"
$icon-details-width = 512
$icon-details-height = 512

$icon-discover-outline-viewBox = "0 0 512 512"
$icon-discover-outline-width = 512
$icon-discover-outline-height = 512

$icon-discover-viewBox = "0 0 512 512"
$icon-discover-width = 512
$icon-discover-height = 512

$icon-dot-arrow-viewBox = "0 0 512 512"
$icon-dot-arrow-width = 512
$icon-dot-arrow-height = 512

$icon-download-viewBox = "0 0 512 512"
$icon-download-width = 512
$icon-download-height = 512

$icon-drag-handle-viewBox = "0 0 512 512"
$icon-drag-handle-width = 512
$icon-drag-handle-height = 512

$icon-edit-viewBox = "0 0 512 512"
$icon-edit-width = 512
$icon-edit-height = 512

$icon-episodes-viewBox = "0 0 512 512"
$icon-episodes-width = 512
$icon-episodes-height = 512

$icon-exit-viewBox = "0 0 512 512"
$icon-exit-width = 512
$icon-exit-height = 512

$icon-external-player-viewBox = "0 0 512 512"
$icon-external-player-width = 512
$icon-external-player-height = 512

$icon-eye-off-viewBox = "0 0 512 512"
$icon-eye-off-width = 512
$icon-eye-off-height = 512

$icon-eye-viewBox = "0 0 512 512"
$icon-eye-width = 512
$icon-eye-height = 512

$icon-facebook-viewBox = "0 0 512 512"
$icon-facebook-width = 512
$icon-facebook-height = 512

$icon-filters-outline-viewBox = "0 0 512 512"
$icon-filters-outline-width = 512
$icon-filters-outline-height = 512

$icon-filters-viewBox = "0 0 512 512"
$icon-filters-width = 512
$icon-filters-height = 512

$icon-glasses-viewBox = "0 0 512 512"
$icon-glasses-width = 512
$icon-glasses-height = 512

$icon-grid-viewBox = "0 0 512 512"
$icon-grid-width = 512
$icon-grid-height = 512

$icon-heart-outline-viewBox = "0 0 512 512"
$icon-heart-outline-width = 512
$icon-heart-outline-height = 512

$icon-heart-viewBox = "0 0 512 512"
$icon-heart-width = 512
$icon-heart-height = 512

$icon-help-viewBox = "0 0 512 512"
$icon-help-width = 512
$icon-help-height = 512

$icon-home-outline-viewBox = "0 0 512 512"
$icon-home-outline-width = 512
$icon-home-outline-height = 512

$icon-home-viewBox = "0 0 512 512"
$icon-home-width = 512
$icon-home-height = 512

$icon-hourglass-viewBox = "0 0 512 512"
$icon-hourglass-width = 512
$icon-hourglass-height = 512

$icon-imdb-outline-viewBox = "0 0 512 512"
$icon-imdb-outline-width = 512
$icon-imdb-outline-height = 512

$icon-imdb-viewBox = "0 0 512 512"
$icon-imdb-width = 512
$icon-imdb-height = 512

$icon-in-cinema-viewBox = "0 0 512 512"
$icon-in-cinema-width = 512
$icon-in-cinema-height = 512

$icon-language-viewBox = "0 0 512 512"
$icon-language-width = 512
$icon-language-height = 512

$icon-library-outline-viewBox = "0 0 512 512"
$icon-library-outline-width = 512
$icon-library-outline-height = 512

$icon-library-viewBox = "0 0 512 512"
$icon-library-width = 512
$icon-library-height = 512

$icon-link-viewBox = "0 0 512 512"
$icon-link-width = 512
$icon-link-height = 512

$icon-linux-viewBox = "0 0 512 512"
$icon-linux-width = 512
$icon-linux-height = 512

$icon-list-viewBox = "0 0 512 512"
$icon-list-width = 512
$icon-list-height = 512

$icon-local-import-viewBox = "0 0 512 512"
$icon-local-import-width = 512
$icon-local-import-height = 512

$icon-macos-viewBox = "0 0 512 512"
$icon-macos-width = 512
$icon-macos-height = 512

$icon-magnet-link-viewBox = "0 0 512 512"
$icon-magnet-link-width = 512
$icon-magnet-link-height = 512

$icon-maximize-viewBox = "0 0 512 512"
$icon-maximize-width = 512
$icon-maximize-height = 512

$icon-megaphone-viewBox = "0 0 512 512"
$icon-megaphone-width = 512
$icon-megaphone-height = 512

$icon-memory-viewBox = "0 0 512 512"
$icon-memory-width = 512
$icon-memory-height = 512

$icon-minimize-viewBox = "0 0 512 512"
$icon-minimize-width = 512
$icon-minimize-height = 512

$icon-more-horizontal-viewBox = "0 0 512 512"
$icon-more-horizontal-width = 512
$icon-more-horizontal-height = 512

$icon-more-vertical-viewBox = "0 0 512 512"
$icon-more-vertical-width = 512
$icon-more-vertical-height = 512

$icon-movies-outline-viewBox = "0 0 512 512"
$icon-movies-outline-width = 512
$icon-movies-outline-height = 512

$icon-movies-viewBox = "0 0 512 512"
$icon-movies-width = 512
$icon-movies-height = 512

$icon-network-viewBox = "0 0 512 512"
$icon-network-width = 512
$icon-network-height = 512

$icon-next-viewBox = "0 0 512 512"
$icon-next-width = 512
$icon-next-height = 512

$icon-notifications-outline-viewBox = "0 0 512 512"
$icon-notifications-outline-width = 512
$icon-notifications-outline-height = 512

$icon-notifications-viewBox = "0 0 512 512"
$icon-notifications-width = 512
$icon-notifications-height = 512

$icon-open-in-browser-viewBox = "0 0 512 512"
$icon-open-in-browser-width = 512
$icon-open-in-browser-height = 512

$icon-pause-viewBox = "0 0 512 512"
$icon-pause-width = 512
$icon-pause-height = 512

$icon-person-outline-edit-viewBox = "0 0 512 512"
$icon-person-outline-edit-width = 512
$icon-person-outline-edit-height = 512

$icon-person-outline-viewBox = "0 0 512 512"
$icon-person-outline-width = 512
$icon-person-outline-height = 512

$icon-person-viewBox = "0 0 512 512"
$icon-person-width = 512
$icon-person-height = 512

$icon-play-outline-viewBox = "0 0 512 512"
$icon-play-outline-width = 512
$icon-play-outline-height = 512

$icon-play-viewBox = "0 0 512 512"
$icon-play-width = 512
$icon-play-height = 512

$icon-reddit-viewBox = "0 0 512 512"
$icon-reddit-width = 512
$icon-reddit-height = 512

$icon-remote-viewBox = "0 0 512 512"
$icon-remote-width = 512
$icon-remote-height = 512

$icon-remove-from-library-viewBox = "0 0 512 512"
$icon-remove-from-library-width = 512
$icon-remove-from-library-height = 512

$icon-remove-viewBox = "0 0 512 512"
$icon-remove-width = 512
$icon-remove-height = 512

$icon-replay-viewBox = "0 0 512 512"
$icon-replay-width = 512
$icon-replay-height = 512

$icon-reset-viewBox = "0 0 512 512"
$icon-reset-width = 512
$icon-reset-height = 512

$icon-rotate-viewBox = "0 0 512 512"
$icon-rotate-width = 512
$icon-rotate-height = 512

$icon-scale-viewBox = "0 0 512 512"
$icon-scale-width = 512
$icon-scale-height = 512

$icon-search-outline-viewBox = "0 0 512 512"
$icon-search-outline-width = 512
$icon-search-outline-height = 512

$icon-search-viewBox = "0 0 512 512"
$icon-search-width = 512
$icon-search-height = 512

$icon-series-outline-viewBox = "0 0 512 512"
$icon-series-outline-width = 512
$icon-series-outline-height = 512

$icon-series-viewBox = "0 0 512 512"
$icon-series-width = 512
$icon-series-height = 512

$icon-settings-outline-viewBox = "0 0 512 512"
$icon-settings-outline-width = 512
$icon-settings-outline-height = 512

$icon-settings-viewBox = "0 0 512 512"
$icon-settings-width = 512
$icon-settings-height = 512

$icon-share-viewBox = "0 0 512 512"
$icon-share-width = 512
$icon-share-height = 512

$icon-skip-15-back-viewBox = "0 0 512 512"
$icon-skip-15-back-width = 512
$icon-skip-15-back-height = 512

$icon-skip-15-forward-viewBox = "0 0 512 512"
$icon-skip-15-forward-width = 512
$icon-skip-15-forward-height = 512

$icon-skip-back-viewBox = "0 0 512 512"
$icon-skip-back-width = 512
$icon-skip-back-height = 512

$icon-skip-forward-viewBox = "0 0 512 512"
$icon-skip-forward-width = 512
$icon-skip-forward-height = 512

$icon-sort-up-down-viewBox = "0 0 512 512"
$icon-sort-up-down-width = 512
$icon-sort-up-down-height = 512

$icon-speed-viewBox = "0 0 512 512"
$icon-speed-width = 512
$icon-speed-height = 512

$icon-star-outline-viewBox = "0 0 512 512"
$icon-star-outline-width = 512
$icon-star-outline-height = 512

$icon-star-rating-full-viewBox = "0 0 512 512"
$icon-star-rating-full-width = 512
$icon-star-rating-full-height = 512

$icon-star-rating-half-viewBox = "0 0 512 512"
$icon-star-rating-half-width = 512
$icon-star-rating-half-height = 512

$icon-star-viewBox = "0 0 512 512"
$icon-star-width = 512
$icon-star-height = 512

$icon-subtitles-viewBox = "0 0 512 512"
$icon-subtitles-width = 512
$icon-subtitles-height = 512

$icon-symbol-viewBox = "0 0 512 512"
$icon-symbol-width = 512
$icon-symbol-height = 512

$icon-thumbs-up-outline-viewBox = "0 0 512 512"
$icon-thumbs-up-outline-width = 512
$icon-thumbs-up-outline-height = 512

$icon-thumbs-up-viewBox = "0 0 512 512"
$icon-thumbs-up-width = 512
$icon-thumbs-up-height = 512

$icon-trailer-viewBox = "0 0 512 512"
$icon-trailer-width = 512
$icon-trailer-height = 512

$icon-trakt-viewBox = "0 0 512 512"
$icon-trakt-width = 512
$icon-trakt-height = 512

$icon-tv-outline-viewBox = "0 0 512 512"
$icon-tv-outline-width = 512
$icon-tv-outline-height = 512

$icon-tv-viewBox = "0 0 512 512"
$icon-tv-width = 512
$icon-tv-height = 512

$icon-vlc-viewBox = "0 0 512 512"
$icon-vlc-width = 512
$icon-vlc-height = 512

$icon-volume-high-viewBox = "0 0 512 512"
$icon-volume-high-width = 512
$icon-volume-high-height = 512

$icon-volume-low-viewBox = "0 0 512 512"
$icon-volume-low-width = 512
$icon-volume-low-height = 512

$icon-volume-medium-viewBox = "0 0 512 512"
$icon-volume-medium-width = 512
$icon-volume-medium-height = 512

$icon-volume-mute-viewBox = "0 0 512 512"
$icon-volume-mute-width = 512
$icon-volume-mute-height = 512

$icon-volume-off-viewBox = "0 0 512 512"
$icon-volume-off-width = 512
$icon-volume-off-height = 512

$icon-warning-viewBox = "0 0 512 512"
$icon-warning-width = 512
$icon-warning-height = 512

$icon-windows-viewBox = "0 0 512 512"
$icon-windows-width = 512
$icon-windows-height = 512

$icon-x-viewBox = "0 0 512 512"
$icon-x-width = 512
$icon-x-height = 512

$icon-youtube-viewBox = "0 0 512 512"
$icon-youtube-width = 512
$icon-youtube-height = 512