// Stremio Icons for Jade/Stylus
// 
// Usage in Jade:
//   include icons.jade
//   +icon-play('my-icon')
//   +icon-play('my-icon another-class')
//
// Available icons:
//   - about
//   - actors
//   - add-to-library
//   - add
//   - addons-outline
//   - addons
//   - android
//   - anime-outline
//   - anime
//   - audio-tracks
//   - audio
//   - bin
//   - calendar-outline
//   - calendar-thin
//   - calendar
//   - caret-down
//   - caret-up
//   - cast-connected
//   - cast
//   - channels-outline
//   - channels
//   - chapters
//   - checkmark
//   - chevron-back
//   - chevron-down
//   - chevron-forward
//   - chevron-up
//   - close
//   - cloud-library
//   - cloud-sync
//   - details
//   - discover-outline
//   - discover
//   - dot-arrow
//   - download
//   - drag-handle
//   - edit
//   - episodes
//   - exit
//   - external-player
//   - eye-off
//   - eye
//   - facebook
//   - filters-outline
//   - filters
//   - glasses
//   - grid
//   - heart-outline
//   - heart
//   - help
//   - home-outline
//   - home
//   - hourglass
//   - imdb-outline
//   - imdb
//   - in-cinema
//   - language
//   - library-outline
//   - library
//   - link
//   - linux
//   - list
//   - local-import
//   - macos
//   - magnet-link
//   - maximize
//   - megaphone
//   - memory
//   - minimize
//   - more-horizontal
//   - more-vertical
//   - movies-outline
//   - movies
//   - network
//   - next
//   - notifications-outline
//   - notifications
//   - open-in-browser
//   - pause
//   - person-outline-edit
//   - person-outline
//   - person
//   - play-outline
//   - play
//   - reddit
//   - remote
//   - remove-from-library
//   - remove
//   - replay
//   - reset
//   - rotate
//   - scale
//   - search-outline
//   - search
//   - series-outline
//   - series
//   - settings-outline
//   - settings
//   - share
//   - skip-15-back
//   - skip-15-forward
//   - skip-back
//   - skip-forward
//   - sort-up-down
//   - speed
//   - star-outline
//   - star-rating-full
//   - star-rating-half
//   - star
//   - subtitles
//   - symbol
//   - thumbs-up-outline
//   - thumbs-up
//   - trailer
//   - trakt
//   - tv-outline
//   - tv
//   - vlc
//   - volume-high
//   - volume-low
//   - volume-medium
//   - volume-mute
//   - volume-off
//   - warning
//   - windows
//   - x
//   - youtube

include icons.jade