name: Publish

on:
  release:
    types: [published]

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - name: Setup NodeJS
      uses: actions/setup-node@v4
      with:
        node-version: 20
        registry-url: https://registry.npmjs.org/
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install NPM Dependencies
      run: npm install
    - name: Build
      run: npm run build:all
    - name: Publish to NPM
      run: npm publish --access public